body 
{color: #db3094;
background-color: #FFDEFA;
}

p
{color: #2C2891;
text-color: #C2F784; 
}

h1
{color: #1C7947 }

a:link {
    color: #3D2C8D
  }

nav {background-color: #a9a9c4 ;}

nav a{color: #0e055c;}

nav a:hover {background-color: #2cade0;}

nav {padding: 10px;}
nav {margin-bottom: 30px;}
@media only screen and (max-width: 700px) {
nav a {display: block;}
span {display: none;}

}

@media only screen and (min-width: 700px) {
.br {display: none;}
  
}